In [15]:
# Revision Sets
# Store immutable items
# Can not store mutable(LSD- List,Set, Dictionaries) data types
# s={{1,2,3,4,5}}❌ set inside a set
#s={[1,2,3]} ❌ list inside a set

In [16]:
t=[[1,2],[3,4],{5,6}]
a,b=t[1]
print(a,b)

3 4

In [17]:
# Topics to be covered
# Dictionary
# Properties/Methods
# -dictionaries are not ordered in nature
# -keys are similar to indexes meaning they are used to refere values
# -Mutable -
#------------add- dict_name['key']=value
#------------update- using dict_name.update{}
#------------delete- using dict_name.pop("Key_name")
# Iterate over dictionaries

In [18]:
#Dictionary- there is a word and its meaning
# d={word1 --> meaning 1,
#    word2--> meaning 2 }
# key:value

In [19]:
d={'random':'something which is not defined',
   'apple':'a fruit',
   'ship':'sea transportation'}

In [20]:
type(d)

dict

In [21]:
d['ship']

'sea transportation'

In [22]:
# if key does not exist it will five error❌
d['watch']

KeyError: 'watch'

In [25]:
state_wise_data={"Delhi":450,"UP":400,"Haryana":250}

In [26]:
state_wise_data["UP"]# you dont need to know the index of keys or values

400

In [27]:
# if you dont want to add any value you can keep None
state_wise_data={"Delhi":450,"UP":400,"Haryana":250,"MP":None }

In [28]:
type({3})

set

In [29]:
type({3:30})

dict

In [30]:
# Why we need dictionaries and cannot work with tuples or lists
state_wise_data_tup=[("Delhi",450),("UP",400),("Haryana",250)]
# If we decide to use tuples instead of dictionaries, we need to know index
# which is time consuming process first we will find string than its index, than value
print(state_wise_data_tup[2][1])

250

In [31]:
#if we use dictionaries we do not need to iterate
state_wise_data={"Delhi":450,"UP":400,"Haryana":250}
print(state_wise_data["Haryana"])

250

In [26]:
# empty dictionary
d={}
type(d)
dict()

{}

In [32]:
s=set()
type(s)

set

In [33]:
#Updating value of a key
state_wise_data["Delhi"]=500

In [34]:
state_wise_data["Delhi"]

500

In [35]:
state_wise_data["Delhi"]=800

In [36]:
#If any key doesnot exist, as in the below code "Delhi"-key exist but not "delhi"
#
state_wise_data['delhi']=800
print(state_wise_data)

{'Delhi': 800, 'UP': 400, 'Haryana': 250, 'delhi': 800}

In [37]:
#create population data for Goa
state_wise_data['Goa']=80
print(state_wise_data)

{'Delhi': 800, 'UP': 400, 'Haryana': 250, 'delhi': 800, 'Goa': 80}

In [40]:
student={
    'name':"Adam",
    'age':17,
    'marks':95
}
print(student)

{'name': 'Adam', 'age': 17, 'marks': 95}

In [38]:
student.update({'name':"Adam Joe",
                'age':17,
                'marks':97,
                'class':10})
print(student)

NameError: name 'student' is not defined

In [39]:
random={
    'a':10,
    'b':20,
    'c':30
}

In [40]:
random['d']

KeyError: 'd'

In [41]:
#return the value for key if key is in the dictionary,else default.
print(random.get('c')) #random['c']
print(random.get('f')) #f do not exist so we get None as output

30
None

In [42]:
# random['d'] - is considered not suitable because it will give error
# random.get('query','ans')
# For example "f" key is not present so it return ans = Not found
#             "c" key is present so it return ans="30"
random={
    'a':10,
    'b':20,
    'c':30
}
result=random.get('f',"Not found")
result1=random.get('c',"Not found")
print(result,",",result1)

Not found , 30

In [43]:
random.pop?

In [44]:
deleted_item=random.pop("b")
print(deleted_item)

20

In [45]:
random

{'a': 10, 'c': 30}

In [61]:
#Iteration
state_wise_data={'Delhi': 800, 'UP': 400, 'Haryana': 250, 'delhi': 800, 'Goa': 80}
state_wise_data
state_wise_data.pop("delhi")
state_wise_data
#to print keys of dictionary
for ele in state_wise_data:
  print(ele)
print()
for key in state_wise_data:
  print(key)
print()
# to print values of dictionary
for key in state_wise_data:
  print(state_wise_data[key])
# for key in state_wise_data:
#   print(state_wise_data["key"])
#❌❌❌ Error- because key is not present in dictionary
print()
#To print key and values together
for key in state_wise_data:
  print(key,"-",state_wise_data[key])

Delhi
UP
Haryana
Goa

Delhi
UP
Haryana
Goa

800
400
250
80

Delhi - 800
UP - 400
Haryana - 250
Goa - 80

In [79]:
# Dictionary functions
state_wise_data={'Delhi': 800, 'UP': 400, 'Haryana': 250, 'delhi': 800, 'Goa': 80}
print(state_wise_data.keys())
print()
print(state_wise_data.values())
print()
# checking whether key exists or not
print("delhi" in state_wise_data.keys())
print()
#.items will give tuple like key:value pair
print(state_wise_data.items())
print()
# if we do not want in tuple form and we want individual key:value pair
for k,v in state_wise_data.items():
  print(k,v)

dict_keys(['Delhi', 'UP', 'Haryana', 'delhi', 'Goa'])

dict_values([800, 400, 250, 800, 80])

True

dict_items([('Delhi', 800), ('UP', 400), ('Haryana', 250), ('delhi', 800), ('Goa', 80)])

Delhi 800
UP 400
Haryana 250
delhi 800
Goa 80

In [81]:
#print states with population >200
for k,v in state_wise_data.items():
  if v>200:
    print(k,v)

Delhi 800
UP 400
Haryana 250
delhi 800

In [82]:
# Can we have any object of any datatype in dictionary??
# Objects -keys 🔑Constraint⚠️- Immutable items only
#                                Mutable items cannot be stored(L,S,D)
#                                List,Set,Dictionaries
#         -values 🟢No constraint- list,tuple,set,dictionary

In [86]:
#💡keys are always unique, Values can be duplicate
food_menu={
    "samosa":20,
    "pizza":200,
    "burger":50,
    "juice":[20,30,50]
}
print(food_menu['burger'])
print(food_menu["juice"])
print(food_menu["juice"][-1])#dictionary and juice indexing

50
[20, 30, 50]
50

In [92]:
#Nested Dictionary
food_menu1={
    "samosa":20,
    "pizza":200,
    "burger":50,
    "juice":[20,30,50],
    "fruits":{
        "apple":40,
        "mango":80,
        "kiwi":150}
}

In [93]:
food_menu1

{'samosa': 20,
 'pizza': 200,
 'burger': 50,
 'juice': [20, 30, 50],
 'fruits': {'apple': 40, 'mango': 80, 'kiwi': 150}}

In [94]:
food_menu1['fruits']['mango']

80

In [95]:
food_menu1.keys()

dict_keys(['samosa', 'pizza', 'burger', 'juice', 'fruits'])

In [97]:
#❓Is this a valid dictionary???
random = {
    "key1": [45, 56, 78],
    "key2": {
        "key3": (1, 2, 3)
    },
    45: "value3",
    56.78: "678",
    (1,2,3): "random value"
}
#Yes, because keys doest not contain List,Set,Dictionary
#💡Generally we use string and integer in keys

In [98]:
random

{'key1': [45, 56, 78],
 'key2': {'key3': (1, 2, 3)},
 45: 'value3',
 56.78: '678',
 (1, 2, 3): 'random value'}

In [99]:
#Question
s="some random words in the sentence"
d={
    'r':2,
    'a':5,
    't':3
}

In [101]:
s="rraaaaatt"
d={}
for i in s:
  if i in d:
    d[i]=d[i]+1
  else:
    d[i]=1
print(d)

{'r': 2, 'a': 5, 't': 2}

In [102]:
#2
s="rraaaaatt"
d={}
for i in set(s):
  d[i]=s.count(i)
print(d)

{'t': 2, 'r': 2, 'a': 5}