
##                                 **TUPLE**

In [16]:
a=[]
b=()
type(a)
type(b)

tuple

In [1]:
# Tuples- Unmodifiable/immutables lists
# # syntax= ( )
# use case
# if You are a data scientist at ISRO,
# you dont want anyone to change the items- list are mutable
# you can't change tuple. So, you can use tuples for immutability
a=["Mercury","Venus","Earth"]
a[2]="Aj's planet"
print(a)

['Mercury', 'Venus', "Aj's planet"]

In [2]:
a[2]=9
print(a)

['Mercury', 'Venus', 9]

In [3]:
#most of the list concepts also work as tuples

In [4]:
a=(1,5,7)
type(a)

tuple

In [5]:
a=[5]
type(a)

list

In [6]:
a=(5)
type(a)

int

In [13]:
# Single value inside () remains is not treated as tuple,
# It requires more than 1 value to be tuple
print(type((3+5)*4),type((3,5)))
print(type("disha"))

<class 'int'> <class 'tuple'>
<class 'str'>

In [ ]:
#tuple slicing
tup=a[2:5]
type(tup)

tuple

In [1]:
b=(1,5,8)
type(b)

tuple

In [5]:
#List are mutable
a=[1,5,7]
a[2]=9
print(a)

[1, 5, 9]

In [6]:
#Tuples are not mutable/ immutable
b=(1,5,7)
b[2]=9

TypeError: 'tuple' object does not support item assignment

In [17]:
# length function in tuple/ same as in List
a=(1,2,3,4,5,6,7)
len(a)

7

In [ ]:
# Indexing is also same as list
a[2]

In [23]:
#Slicing is also same as list
print(a[2:5])
print(type((a[2:5])))
print(a[3:4])
print(type(a[3:4]))

(3, 4, 5)
<class 'tuple'>
(4,)
<class 'tuple'>

In [25]:
# Properties of a Tuple
a=()
type(a)
len(a)

0

In [26]:
#typecasting tuples

In [27]:
a=[4,7,1,3]
type(a)

list

In [29]:
b=tuple(a)
type(b)

tuple

In [30]:
#@title Packing and Unpacking

In [37]:
#Unpacking for tuples
a= (4,6,1)
type(a)
x,y,z=a
print(x,y,z)

4 6 1

In [38]:
#Unpacking also works in list
a=[4,6,1]
type(a)
x,y,z=a
print(x,y,z)
#x,y=a ❌ERROR not enough values to unpack
#w,x,y,z=a ❌ERROR too many values to unpack

4 6 1

In [39]:
#What will be the answer of print(e)
a=(4,6,1)
e,f=a[:2]
print(e)

4

In [43]:
#Packing
#By default if we create a variable and assign multiple values it creates tuple not list
a=20,40,30
print(type(a))
print(a)

<class 'tuple'>
(20, 40, 30)

In [44]:
a=20,40,"Disha"
print(type(a))
print(a)

<class 'tuple'>
(20, 40, 'Disha')

In [47]:
#Packing
def solve():
  return 2,5,3
a=solve()
print(a)

(2, 5, 3)

In [54]:
#iterating over a list of tuples
a=[(1,"DN"),(2,"tup"),(3,"listus"),(4,"iteru")]
print(type(a))
print(type(a[0]))
print(a[0])

<class 'list'>
<class 'tuple'>
(1, 'DN')

In [55]:
for ele in a:
  print(ele)

(1, 'DN')
(2, 'tup')
(3, 'listus')
(4, 'iteru')

In [56]:
print('''
Roll no: 1 is DN
Roll no: 2 is tup
Roll no: 3 is listus
Roll no: 4 is iteru
''')

Roll no: 1 is DN
Roll no: 2 is tup
Roll no: 3 is listus
Roll no: 4 is iteru

In [59]:
#1 Solution
a=[(1,"DN"),(2,"tup"),(3,"listus"),(4,"iteru")]
for i in range(len(a)):
  print("Roll no:",a[i][0],"is",a[i][1] )

Roll no: 1 is DN
Roll no: 2 is tup
Roll no: 3 is listus
Roll no: 4 is iteru

In [60]:
#2 Solution
for ele in a:
  roll_no,name=ele #unpacking
  print(f"Roll no: {roll_no} is {name}")

Roll no: 1 is DN
Roll no: 2 is tup
Roll no: 3 is listus
Roll no: 4 is iteru

In [62]:
# 3 Solution
for ele in a:
  print(f'Roll no: {ele[0]} is {ele[1]}')

Roll no: 1 is DN
Roll no: 2 is tup
Roll no: 3 is listus
Roll no: 4 is iteru

In [63]:
#4 Solution
for roll_no, name in a:
  print(f'Roll no: {roll_no} is {name}')

Roll no: 1 is DN
Roll no: 2 is tup
Roll no: 3 is listus
Roll no: 4 is iteru

In [1]:
a=3
b=5
#after swapping
a=5
b=3

In [1]:
a=3
b=5
a=b
b=a
print(a,b)
#issue orginal value of a is lost

5 5

In [2]:
# swapping using 3rd variable
a=3
b=5

temp=a
a=b
b=temp
print(a,b)

5 3

In [4]:
#python based logic
a=3
b=5
a,b=b,a
print(a,b)

5 3

## **SETS**

In [ ]:
# Sets
# 💡Sets are unique collection of elements
# 💡We reperesent a set using curly braces{}
# 💡Sets can store strings,tuples,booleans inside them all at once
# 💡🫢Sets cannot store Lists, Sets and dictionaries within them
#     (Reason is related to mutability and immutability)

In [6]:
s={1,3,6,2,1,5,6,2}
type(s)

set

In [9]:
print(s) # will show only one occurance of elements
# sets are unordered because their output gets automatically sorted,
# Also, Indexing is not possible in sets because not matter in which order you
# give input it will get sorted and printed

{1, 2, 3, 5, 6}

In [10]:
# s[0]
#❌ERROR: 'set' object is not subscriptable

TypeError: 'set' object is not subscriptable

In [11]:
a=[]
b=()
c={}
type(c) # both set and dictionaries are created using {}

dict

In [12]:
# creating an empty set using set function
s=set()
type(s)

set

In [14]:
# TUPLE + TUPLE = extended TUPLE
x=(1,2,3)
y=(4,5,6)
z=x+y
print(z)

(1, 2, 3, 4, 5, 6)

In [23]:
# Methods on sets
s={1,4,3}
len(s)

3

In [24]:
s.add(2)
print(s)
len(s)

{1, 2, 3, 4}

4

In [25]:
s.add(5)
print(s)
len(s)

{1, 2, 3, 4, 5}

5

In [26]:
# removing an elementfrom a set

In [31]:
s={1,4,3}
s.add(5) #.add to add an element
s.remove(4) #.remove an element
s.pop() # remove an element randomly # reason- because its unordered
print(s)

{1, 3, 5}

In [33]:
#update(): to add multiple elements into a set
t=(5,6,3,4)
s={9,8,2,1,5,4}
s.update(t)
len(s)
print(s)

{1, 2, 3, 4, 5, 6, 8, 9}

In [38]:
'''
Question:
Take a string as input.
Print the number of unique characters in the string
'''
user_input=input()
print(set(user_input))
print(len(set(user_input)))

disha nashier
{'r', 'h', 'i', 's', ' ', 'd', 'e', 'a', 'n'}
9

In [48]:
fruits={"apple","banana","cherry"}
fruits.add("orange")
print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [49]:
fruits.update(["mango","grape"])
print(len(fruits))

6

In [50]:
#set operations
# *Venn diagram
# 1. Intersection of two sets- common elements between A and B
# 2. Union of two sets- all elements in A and B
# 3. SET DIFFERENCE- A-B -all the elements in A that are not present in B
# A-B = A-(A intersection B)
# B-A= B-(B intersection A)
# ❌A-B = B-A (Not necesserly)
# ⭐ SYMMETRIC DIFFERENCE - unioin of (A-B) and (B-A)
# ⭐ SYMMETRIC DIFFERENCE-  difference of (A union B) and (A intersection B)

In [54]:
# You can either use "intersection" keyword or "&" symbol
a={2,3,4,5}
b={1,4,3,8,6,7}
print(a.intersection(b))
print(a&b)

{3, 4}
{3, 4}

In [56]:
#union
print(a.union(b))
print(a|b)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
#difference
a={2,3,4,5}
b={1,4,3,8,6,7}
print(a.difference(b))
print(a-b)
print(b-a)

{2, 5}
{2, 5}
{8, 1, 6, 7}

In [62]:
#symmetric difference
a^b

{1, 2, 5, 6, 7, 8}

In [63]:
print(a.symmetric_difference(b))

{1, 2, 5, 6, 7, 8}

In [64]:
## ---------Question------
# you are given a string as input
# Ascertain wheather that string contains a binary number or not
# Sample Input-1
# "0011010101ab"
# Sample Input-2
# "010010101010"
# Sample Output-1
# "Not Binary!"
# Sample output-2
# "Binary!"

In [67]:
# in case of set order does not matter
print({2,5}=={5,2})
# in case of list order matter
print([2,5]==[5,2])

True
False

In [70]:
def solve(s):
  s1= set(s)
  if s1 =={"0","1"}:
    return"Binary"
  else:
    return"Not Binary"

In [73]:
print(solve("0011010101ab"))
print(solve("010010101010"))

Not Binary
Binary